.panel.panel-primary
  .panel-body
    - first_st = @strategies.strategies_names.first

    .form-group
      %label{ for: 'strategy_name' } Choose a strategy:
      %select.form-control{ onchange: 'strategyChanged(this.value)' }
        - @strategies.strategies_names.each do |st_name|
          %option{ selected: (st_name == first_st) ? "selected" : nil }
            = st_name
    %hr

    - @strategies.strategies_names.each do |st|
      .strategies-panel{ 'strategy-name' => st, 'style' => "display: #{(st==first_st)?'block':'none'};" }
        - @strategies[st][:params].each do |p|
          .form-group
            - case p[:type]
              - when "text", "number"
                %input.form-control{ name: "strategy[#{p[:name]}]", type: "text", placeholder: p[:name], required: p[:required], value: p[:default] }
              - when "boolean"
                %label
                  %input{ name: "strategy[#{p[:name]}]", type: "checkbox", checked: (p[:default] == true) }
                  = p[:name]


    %hr
    = form_tag request_index_path(format: :json), method: :post, role: :form, onsubmit: "trackFormSubmit('#{board_origin}'); return generateBoardSubmitForm(this, '#{type}'); " do
      = submit_tag "Submit", class: 'btn btn-primary'
