- bpr.result['iterations'].each do |iter|
  - is_complete_board = iter['stats']['pct_certain'] == 1
  .panel.panel-primary.iteration-panel
    .panel-heading
      %h3.panel-title
        = "Iteration ##{iter['iteration_number']}"
    .panel-body
      .container-fluid
        .row
          .col-xs-12
            %div{ 'class' => ('completed-board' if is_complete_board)}
              = render 'common/board', board: Board.load(iter['board']), show_constraints: true, show_gridboxes: (not is_complete_board)
        .row
          .col-xs-12
            - pct = (100*iter['stats']['pct_certain']).round(2)
            - progress_class = (pct<25 and 'progress-bar-danger') ||
            -   (pct<50 and 'progress-bar-warning') ||
            -   (pct<85 and 'progress-bar-info') || 'progress-bar-success'
            .progress
              .progress-bar{ 'class' => progress_class, 'role' => 'progressbar', 'aria-valuenow' => 100*iter['stats']['pct_certain'], 'aria-valuemin' => 0, 'aria-valuemax' => 100, 'style' => "width: #{100*iter['stats']['pct_certain']}%;" }
                = "#{pct}%"

