!!!
.h2 Here are the latest boards that were solved by the 'Griddlers Ninja'!
.h3 Want to submit the next one?



- @latest.each_slice(2) do |bpr_row|
  .row.with-top-margin
    - bpr_row.each do |bpr|
      .col-xs-6
        .panel.latest-solved-board-panel.panel-primary{ style: 'cursor: pointer', onclick: "window.open('#{request_path(bpr, format: :html)}')" }
          .panel-heading
            %h3.panel-title
              = link_to("Board ##{bpr.id}", request_path(bpr, format: :html))

          .panel-body
            .row
              .col-xs-3
                = render 'common/board', board: Board.load(bpr.result["iterations"][-1]["board"]), size: "tiny"
              .col-xs-9
                %strong Status:
                = bpr.status.humanize
                %br
                %strong Submitted at:
                = time_ago_in_words bpr.submitted_at
                ago
                %br
                %strong Waited in queue for:
                = distance_of_time_in_words bpr.submitted_at, bpr.started_at
                %br
                %strong Calculation took:
                = distance_of_time_in_words bpr.started_at, bpr.completed_at
