- if @bpr.completed?
  - if @bpr.failed?
    - settings = { alert_class: 'alert-danger', alert_message: "I hate when this happens! - #{@bpr.result['message']}", alert_fa_class: 'fa-times' }
  - elsif @bpr.partially_succeeded?
    - settings = { alert_class: 'alert-warning', alert_message: "Well.. It's not a complete solution but at least I did something..", alert_fa_class: 'fa-frown-o' }
  - else
    - settings = { alert_class: 'alert-success', alert_message: "Woo-Hoo!! Victory!!", alert_fa_class: 'fa-smile-o' }
- elsif @bpr.started_at
  - settings = { alert_class: 'alert-info', alert_message: "I'm doing my best to solve your puzzle right now! check again soon", alert_fa_class: 'fa-cog fa-spin' }
- else
  - settings = { alert_class: 'alert-info', alert_message: "Buddy, stand in line please..", alert_fa_class: 'fa-clock-o' }



.alert.status-alert{ class: settings[:alert_class], role: :alert }
  %i.fa{ class: settings[:alert_fa_class] }
  = settings[:alert_message]

.row
  -# Board
  .col-xs-4
    .panel.panel-primary
      .panel-heading
        %h3.panel-title
          Initial board
      .panel-body
        = render 'common/board', board: @bpr.board, size: 'small', show_constraints: true
        = "#{@bpr.board.shape[0]} x #{@bpr.board.shape[1]}"

  -# Parameters
  .col-xs-4
    .panel.panel-primary
      .panel-heading
        %h3.panel-title
          Parameters
      %ul.list-group
        - params = { id: @bpr.id }
        - params[:submitted_at] = @bpr.submitted_at.to_s(:db) if @bpr.submitted?
        - params[:started_at] = @bpr.started_at.to_s(:db) if @bpr.started?
        - params[:completed_at] = @bpr.completed_at.to_s(:db) if @bpr.completed?
        - params.merge!(@bpr.request_params || {})
        - params.each do |f,v|
          %li.list-group-item
            %span
              = f.to_s.humanize
            %span.pull-right
              = v

  -# Strategy
  .col-xs-4
    .panel.panel-primary
      .panel-heading
        %h3.panel-title
          Strategy
      %ul.list-group
        - @bpr.strategy.each do |f,v|
          %li.list-group-item
            %span
              = f.to_s.humanize
            %span.pull-right
              = v

-if @bpr.succeeded? or @bpr.partially_succeeded?
  = render 'bpr_iterations', bpr: @bpr
