!!!

%html
  %head
    %title Griddlers Ninja

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Handlee', media: 'all', type: 'text/css'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    = favicon_link_tag 'favicon.ico?v=1', type: 'image/x-icon'

    = render "layouts/google_analytics"

  %body
    .container-fluid
      .row.header-row
        .jumbotron
          .face-and-social.pull-right
            .header-social-icons
              = link_to 'http://stackoverflow.com/users/1643257/zach-moshe', target: '_blank' do
                %i.fa.fa-2x.fa-stack-overflow
              = mail_to 'zachmoshe@gmail.com' do
                %i.fa.fa-2x.fa-envelope
            .header-social-icons
              = link_to 'http://www.facebook.com/zach.moshe', target: '_blank' do
                %i.fa.fa-2x.fa-facebook
              = link_to 'http://www.linkedin.com/profile/view?id=8617275', target: '_blank' do
                %i.fa.fa-2x.fa-linkedin
              = link_to 'http://github.com/zachmoshe', target: '_blank' do
                %i.fa.fa-2x.fa-github
            .header-face-image
              = image_tag('zachmoshe-face.png', height: 100, width: 100)
              .pull-right
                Zach Moshe

          .h1
            =link_to "Griddlers Ninja!", root_path, class: "header-home-link"
            %span.small (beta)
          Logo coming soon...

      .row.jumbotron
        - unless flash.empty?
          - flash.keys.each do |fk|
            .row.alert-row
              .col-xs-12
                - alert_class = (fk=='alert') ? 'alert-danger' : 'alert-info'
                .alert{ class: alert_class }
                  = flash[fk]

        = yield

      %nav.navbar.bottom-navbar.navbar-default.navbar-fixed-bottom{ role: :navigation }
        .row
          .col-xs-3
            .bottom-navbar-cell.bottom-navbar-text-cell
              %i.fa.pull-right.fa-hand-o-right.fa-5x
              .h3 Want to submit your own boards?
          .col-xs-3
            .bottom-navbar-cell
              = link_to(archive_1_path, class: "btn btn-primary btn-lg btn-block navbar-btn") do
                %i.fa.fa-folder
                Submit Griddlers from lancs.ac.uk
              Original website:
              = link_to("http://www.comp.lancs.ac.uk/~ss/nonogram/", "http://www.comp.lancs.ac.uk/~ss/nonogram/")
          .col-xs-3
            .bottom-navbar-cell
              = link_to(archive_2_path, class: "btn btn-primary btn-lg btn-block navbar-btn") do
                %i.fa.fa-folder
                Submit Griddlers from jsimlo.sk
              Original Website:
              = link_to("http://jsimlo.sk/griddlers/", "http://jsimlo.sk/griddlers/ ")
          .col-xs-3
            .bottom-navbar-cell
              =link_to(new_request_path, class: "btn btn-primary btn-lg btn-block navbar-btn") do
                %i.fa.fa-pencil
                Manually type your own board



