:javascript
  function trackFormSubmit() {
    ga('send', 'event', 'BoardRequests', 'submit', 'preparsed-lancs')
  }

- cache do
  .container-fluid
    - @all_boards.each_slice(3) do |row_boards|
      .row
        - row_boards.each do |board|
          .col-xs-4
            .panel.panel-primary
              .panel-body
                %iframe.pull-left{ src: board[:grid_svg] }

                = form_tag request_index_path(format: :json), method: :post, target: '_blank', onsubmit: 'trackFormSubmit()' do
                  = hidden_field_tag "board", board[:board].dump
                  = text_field_tag "strategy[name]", 'naive-probs'
                  = check_box_tag "strategy[speedy]"
                  Use Speedy?
                  %hr
                  = submit_tag "Send"
